/*
  COLORS:
    background-color: #ecf0f1
    text-color: #2c3e50
    main-color: #3498db
    main-color-darker: #2980b9
    warning-color: #c0392b;
    success-color: #27ae60;
  FONTS:
    main-font: Open Sans
*/

/* === Global Styles === */
  html{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 175%;

    transition: all .3s;
  }

  body{
    background-color: #ecf0f1;
    color: #2c3e50;
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    padding: 0;
    margin: 0;
  }

  p,a,li{
    line-height: 1.4;
    max-width: 38rem;
    padding: .25rem 1rem;
    margin: 0 auto;
  }
/* === End === */

/* === Class Styles === */
    /* Headers and Navigations */
      .heroheader{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items center;
        flex-direction: column;
        text-align: center;
      }
      /* A sample background image for a header */
        .background-image-sample{
          background-image: url('sample.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      /* End */
      .navbar{
        min-height: 2.5rem;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
      }
      .logo{
        font-weight: 600;
        padding: 0;
        margin: 0;
        color: #ecf0f1;
      }
      .nav{
        margin-left: 5%;
      }
      .nav > li{
        display: inline;
        margin-left: 1rem;
        padding: 0;
      }

      .nav > li > a{
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: #ecf0f1;
      }
    /* End */

    /* Centering and Sizing*/
      .horizontal-center{
        margin: 0 auto;
        display: block;
      }
      .wrapper{
        max-width: 100% !important;
        box-sizing: border-box;
        height: auto;
        padding: 1rem;
      }
      .full-width, .half-width, .third-width, .fourth-width{
        height: auto;
        min-height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 1rem;
        box-sizing: border-box;
        float: left;
      }
      .full-width{
        width: 100%;
      }
      .half-width{
        width: 50%;
      }
      .third-width{
        width: 33.3%;
      }
      .fourth-width{
        width: 25%;
      }
    /* End */

    /* Colors */
      .main-color-text{
        color: #3498db;
      }
      .background-color-text{
        color: #ecf0f1;
      }
      .main-color-darker-text{
        color: #2980b9;
      }
      .warning-color-text{
        color: #c0392b;
      }
      .success-color-text{
        color: #27ae60;
      }
      .main-color-bg{
        background-color: #3498db;
      }
      .main-color-darker-bg{
        background-color: #2980b9;
      }
      .warning-color-bg{
        background-color: #c0392b;
      }
      .success-color-bg{
        background-color: #27ae60;
      }
    /* End */

    /* Text Styles */
      .text-center{
        text-align: center;
      }
      .large-font-size{
        font-size: 4rem;
      }
      .medium-font-size{
        font-size: 2rem;
      }
      .small-font-size{
        font-size: 1rem;
      }
      .light-font-weight{
        font-weight: 300;
      }
      .normal-font-weight{
        font-weight: 400;
      }
      .bold-font-weight{
        font-weight: 600;
      }
    /* End */
    /* Other */
      .hide{
        opacity: 0;
      }
      .inline{
        display: inline;
      }
    /* End */
/* === End === */

/* === Media Queries === */
  @media screen and (max-width: 1024px){
    html{
      font-size: 150%;
    }
  }
  @media screen and (max-width: 720px){
    html{
      font-size: 125%;
    }
  }
  @media screen and (max-width: 480px){
    html{
      font-size: 100%;
    }
  }
  @media screen and (max-width: 360px){
    html{
      font-size: 80%;
    }
  }
  @media screen and (max-width: 280px){
    html{
      font-size: 60%;
    }
  }
/* === End === */
